{
  "certificate" : {
    "passphrase": ""
  },
  "smtpServer" : {
      "service": "gmail",
      "auth": {
          "user": "youremail@gmail.com",
          "pass": "password"
      }
  },
  "mailingAddressRecipient": "yourrecipient@gmail.com"
}